
  <div class="auth-wrapper auth-v2">
    <div class="auth-inner row m-0">
      <!-- Brand logo-->
      <a class="brand-logo" href="javascript:void(0);">
        <img src="{{ coreConfig.app.appLogoImage }}" alt="brand-logo" height="28" />
        <h2 class="brand-text text-primary ml-1">CodeEpic</h2>
      </a>
      <!-- /Brand logo-->
      <!-- Left Text-->
      <div class="d-none d-lg-flex col-lg-6 align-items-center p-5">
        <div class="w-100 d-lg-flex align-items-center justify-content-center px-5">
          <img class="img-fluid" [src]="
            coreConfig.layout.skin === 'dark'
              ? 'assets/images/login-v2.svg'
              : 'assets/images/login-v2.svg'
          " alt="Login" />
        </div>
      </div>
      <!-- /Left Text-->
      <!-- Login-->
      <div class="d-flex col-lg-6 align-items-center auth-bg px-2 p-lg-5">
        <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
          <h2 class="mb-1 text-center"><strong>Sandra Server</strong></h2>
          <p class="card-text text-center"><small>Broglie {{version}} <br> {{fecha}}</small></p>

          <form class="auth-login-form mt-2" [formGroup]="loginForm" (ngSubmit)="login('','')">
            <div class="form-group">
              <label for="login-email" class="form-label">Usuario</label>
              <input
                type="text"
                formControlName="email"
                class="form-control"
                placeholder="Usuario"
                aria-describedby="login-email"
                tabindex="1"
                autofocus
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
              />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Usuario es requerido</div>
              </div>
            </div>
  
            <div class="form-group">
              <div class="d-flex justify-content-between">
                <label for="login-password">Clave</label>
                <a routerLink="/pages/authentication/forgot-password-v1">
                  <small>Has olvidado tu contraseña?</small>
                </a>
              </div>
              <div class="input-group input-group-merge form-password-toggle">
                <input
                  [type]="passwordTextType ? 'text' : 'password'"
                  formControlName="password"
                  class="form-control form-control-merge"
                  tabindex="2"
                  placeholder="·········"
                  aria-describedby="login-password"
                  [ngClass]="{ 'is-invalid error': submitted && f.password.errors }"
                />
  
                <div class="input-group-append">
                  <span class="input-group-text cursor-pointer"
                    ><i
                      class="feather font-small-4"
                      [ngClass]="{
                        'icon-eye-off': passwordTextType,
                        'icon-eye': !passwordTextType
                      }"
                      (click)="togglePasswordTextType()"
                    ></i
                  ></span>
                </div>
              </div>
              <div
                *ngIf="submitted && f.password.errors"
                class="invalid-feedback"
                [ngClass]="{ 'd-block': submitted && f.password.errors }"
              >
                <div *ngIf="f.password.errors.required">contraseña es requerida</div>
              </div>
            </div>
            <div class="form-group">
              <div class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" id="remember-me" tabindex="3" />
                <label class="custom-control-label" for="remember-me"> Recuérdame </label>
              </div>
            </div>
            <button class="btn btn-primary btn-block" tabindex="4" rippleEffect>Iniciar Sesión</button>
          </form>
          <p class="text-center mt-2">
        <a routerLink="/pages/authentication/register-v2"><span>&nbsp;Crear nueva cuenta</span></a>
        </p>
          <div class="divider my-2">
            <div class="divider-text">o</div>
          </div>
          <div class="auth-footer-btn d-flex justify-content-center">
            <a class="btn btn-facebook" href="javascript:void(0)"><i data-feather="facebook"></i></a><a
              class="btn btn-twitter white" href="javascript:void(0)"><i data-feather="twitter"></i></a><a
              class="btn btn-google" href="javascript:void(0)"><i data-feather="mail"></i></a><a class="btn btn-github"
              href="javascript:void(0)"><i data-feather="github"></i></a>
          </div>
        </div>
      </div>
      <!-- /Login-->
    </div>
  </div>
